# TALLER 2

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

## EJERCICIO 1 (CAP√çTULO 5 EJERCICIO 5)

In [144]:
default_xlsx=pd.read_excel("data/Default.xlsx")

In [145]:
default_xlsx.head()

  default student      balance        income
1      No      No   729.526495  44361.625074
2      No     Yes   817.180407  12106.134700
3      No      No  1073.549164  31767.138947
4      No      No   529.250605  35704.493935
5      No      No   785.655883  38463.495879

In [146]:
default_xlsx=default_xlsx.replace('No', 0)
default_xlsx=default_xlsx.replace('Yes', 1)

In [147]:
default_xlsx.head()

   default  student      balance        income
1        0        0   729.526495  44361.625074
2        0        1   817.180407  12106.134700
3        0        0  1073.549164  31767.138947
4        0        0   529.250605  35704.493935
5        0        0   785.655883  38463.495879

In [148]:
default_xlsx.describe()

            default       student       balance        income
count  10000.000000  10000.000000  10000.000000  10000.000000
mean       0.033300      0.294400    835.374886  33516.981876
std        0.179428      0.455795    483.714985  13336.639563
min        0.000000      0.000000      0.000000    771.967729
25%        0.000000      0.000000    481.731105  21340.462903
50%        0.000000      0.000000    823.636973  34552.644802
75%        0.000000      1.000000   1166.308386  43807.729272
max        1.000000      1.000000   2654.322576  73554.233495

### (a)

In [149]:
def label_encoder_default(x, a, p):
    if x<=np.percentile(a, q=p):
        return 0
    else:
        return 1

In [150]:
from sklearn import linear_model
lr=linear_model.LogisticRegression()

In [151]:
X_train, X_test, y_train, y_test = train_test_split(default_xlsx[['balance', 'income']], default_xlsx['default'], test_size=0.2)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(8000, 2) (8000,) (2000, 2) (2000,)

In [152]:
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.96650000000000003

### (b)

In [153]:
predictions=lr.predict(X_test)

In [154]:
predictions_lab=[label_encoder_default(x, predictions, 50) for x in predictions]

In [155]:
errores=np.array(predictions_lab)-np.array(y_test)

In [156]:
i=0
for x in range(len(errores)):
    if int(errores[x])!=0:
        i+=1
print("set error: ", i/len(errores))

set error:  0.0335

Es un modelo casi perfecto.

### (c)

In [157]:
for size in [0.1, 0.3, 0.5]:
    X_train_i, X_test_i, y_train_i, y_test_i = train_test_split(default_xlsx[['balance', 'income']], default_xlsx['default'], test_size=size)
    lr.fit(X_train_i, y_train_i)
    print("error r^2 para tama√±o ", size, "= ", lr.score(X_test_i, y_test_i))
    predictions_i=lr.predict(X_test_i)
    predictions_lab_i=[label_encoder_default(x, predictions_i, 50) for x in predictions_i]
    errores_i=np.array(predictions_lab_i)-np.array(y_test_i)
    j=0
    for x in range(len(errores_i)):
        if int(errores_i[x])!=0:
            j+=1
    print("set error para tama√±o ", size, "= ", j/len(errores_i))

error r^2 para tama√±o  0.1 =  0.964
set error para tama√±o  0.1 =  0.036
error r^2 para tama√±o  0.3 =  0.964333333333
set error para tama√±o  0.3 =  0.035666666666666666
error r^2 para tama√±o  0.5 =  0.9656
set error para tama√±o  0.5 =  0.0344

## Observaci√≥n

El tama√±o del split no influye demasiado

### (d)

In [158]:
for size in [0.1, 0.2, 0.3, 0.5, 0.7]:
    X_train_i, X_test_i, y_train_i, y_test_i = train_test_split(default_xlsx[['balance', 'income', 'student']], default_xlsx['default'], test_size=size)
    lr.fit(X_train_i, y_train_i)
    print("error r^2 para tama√±o ", size, "= ", lr.score(X_test_i, y_test_i))
    predictions_i=lr.predict(X_test_i)
    predictions_lab_i=[label_encoder_default(x, predictions_i, 50) for x in predictions_i]
    errores_i=np.array(predictions_lab_i)-np.array(y_test_i)
    j=0
    for x in range(len(errores_i)):
        if int(errores_i[x])!=0:
            j+=1
    print("set error para tama√±o ", size, "= ", j/len(errores_i))

error r^2 para tama√±o  0.1 =  0.972
set error para tama√±o  0.1 =  0.028
error r^2 para tama√±o  0.2 =  0.971
set error para tama√±o  0.2 =  0.029
error r^2 para tama√±o  0.3 =  0.967666666667
set error para tama√±o  0.3 =  0.03233333333333333
error r^2 para tama√±o  0.5 =  0.9668
set error para tama√±o  0.5 =  0.0332
error r^2 para tama√±o  0.7 =  0.966142857143
set error para tama√±o  0.7 =  0.033857142857142856

## Observaci√≥n

El algoritmo no descubre nuevos patrones con la inclusi√≥n de esta variable.